**/node_modules/
pwa/.env
**/dist/
api/birds-781b0-firebase-adminsdk.json

**/.env

api/src/bootstrap/envs/
pwa/src/utils/client_secret_39733012610-n5ov8ebg406qupt7iehhuves7bqjin23.apps.googleusercontent.com.json